@model IEnumerable<Twitter.Models.Post>

@{
    ViewBag.Title = "Start Page";
}

<h2>Your feed</h2>
<div class="container">
    @foreach (var post in Model)
    {
        @Html.Partial("PostDetails", post)
        <br />
        <br />
    }
</div>
@section scripts {
    <script>
        $("div.follow").click(function ()
        //        $('.container').live('click', '.follow', function ()
        {
            var that = $(this);
            $.ajax({
                method: "POST",
                url: "@Url.Action("Follow", "Twitter")",
                data: { id: $(this).data("id") }
            }).done(function (msg) {
                that.replaceWith(msg);
            })
        })
       $("div.unfollow").click(function ()
       //       $('.container').live('click', '.unfollow', function ()
        {
            var that = $(this);
            $.ajax({
                method: "post",
                url: "@Url.Action("Unfollow", "Twitter")",
                data: { id: $(this).data("id") }
            }).done(function (msg) {
                that.replaceWith(msg);
            });
        });
    </script>
}